body {
    color: #373C38;
    line-height: 1.7;
    background-color: #E8E8E8;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "arial";
}

h1 {
    color: #B5495B;
}

h2 {
    color: #B5495B;
}

h3 {
    color: #B5495B;
}

h3.bar {
    color: #E8E8E8;
    line-height: 1.7;
    background-color: #373C38;
    padding-left: 20px;
    padding-right: 20px;
}

div.test {
    color: #E8E8E8;
    line-height: 1.7;
    background-color: #373C38;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
}

a {
    color: #B5495B;
}

img.test {
    margin: 0px 20px;
}

#container {
    display: grid;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    grid-auto-flow: dense;
}

#itemB {
    grid-row: span 2;
    grid-column: span 2;
}

#itemC {
    grid-row: span 2;
    grid-column: span 2;
}


ul.index {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #373C38;
}

li.index {
    float: left;
    border-right: 1.5px solid #E8E8E8;
}

li.index:last-child {
    border-right: none;
}

li.index a {
    display: block;
    color: #E8E8E8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.index a:hover {
    background-color: #B5495B;
}